Currently there are {{ git_count_files(pattern="odp/**/*.odp") }} odp files in this repo.
Currently there are {{ git_count_files(pattern="marp/**/*.md") }} marp files in this repo.
Currently there are {{ git_count_files(pattern="mermaid/**/*.mmd") }} mermaid files in this repo.
Currently there are {{ shell_output(command="grep -R -- '^---$' marp | wc -l") }} marp slides in this repo.
