	Table 1: People

		Teudat_Zehut_number | Name | Surname | BirthDate | Religion | Gender | ...

	Table 2: DriverLicenses

		Driver_License_Number | Teudat_Zehut_of_driver | Class | Valid_Until | Date_of_aquisition | Need Glasses |


	Example of the tables when they have data:

	Table 1: People
		014995815 | Mark | Veltzer |fadf a| Atheist | Male |
		1234123413 | Yosef | FGDFSGF|fadf a| Jew | Male |

	Table 2:  DriverLicenses
		5654635635 | 1234123413 | .. . | ... | ... |
		4235234534 | 014995815 | .. . | ... | ... |

